<?xml version="1.0"?>
<model>
  <name>jvrc1</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>ISRI-AIST / Open Robotics</name>
  </author>
  <description>
    JVRC-1 humanoid robot model converted from MJCF with custom color styling (Orange torso/hands/feet, white head, light gray limbs).
  </description>
</model>
